"Assets/Images/Common.png" filter=lfs diff=lfs merge=lfs -text
"Assets/Images/ItemAccessories.png" filter=lfs diff=lfs merge=lfs -text
"Assets/Images/SpriteAtlasTexture-UI_gamePlay-2048x1024-fmt47.png" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/GamePlay.unity" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/MainMenu.unity" filter=lfs diff=lfs merge=lfs -text
"Assets/Settings/Lit2DSceneTemplate.scenetemplate" filter=lfs diff=lfs merge=lfs -text
"Assets/Sounds/An_Adventurous_Tale (mp3cut.wav" filter=lfs diff=lfs merge=lfs -text
"Assets/Sounds/devastator.wav" filter=lfs diff=lfs merge=lfs -text
"Assets/Sounds/games-of-war.wav" filter=lfs diff=lfs merge=lfs -text
"Assets/Sounds/rise-of-giants.wav" filter=lfs diff=lfs merge=lfs -text
"Assets/Sounds/sudden-attack.wav" filter=lfs diff=lfs merge=lfs -text
"Assets/Sounds/tense-chase.wav" filter=lfs diff=lfs merge=lfs -text
"Assets/Spine Examples/Other Examples/Mix and Match.unity" filter=lfs diff=lfs merge=lfs -text
"Library/ArtifactDB" filter=lfs diff=lfs merge=lfs -text
"Library/SourceAssetDB" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/03/03a02cab3b0564af6d4c94e00be689da" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/08/08818bde68b99124a8ea7d1f1d8d048e" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/0e/0edf18f226d230c46d23b639c0fc2967" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/0f/0f41be3461dd1835d3228fee2a61a161" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/0f/0f614ec3e660797aa7f0d32d79d629ac" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/11/11ff119667a7c39261ed374c51dcbe5c" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/25/25bb896484106b5f8d8b85ea1ef64b14" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/29/29dda43bfb4f06e5d8826a90eec04815" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/30/301b636c87ce67e3344494310d7cb6e2" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/32/3292dbd62b4784d32595567a3f13950d" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/32/32e686cf6d1001940d7595684863639f" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/3c/3c25e44b18a8480021b45fb423415ab1" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/42/428751a4914762e40574b881baf9641e" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/46/4692a4f8aadb7c8f2aff5d50e41188a4" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/4d/4d2eb6b0671fa24492642e5a41ac909f" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/4e/4e13ddba4de6610faa5913ac3eb40905" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/51/5198f375054ed36e13a756805588582c" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/53/537d0ef231878f1a396499383c2303fc" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/5d/5d5e0a94bd4481abf0059cc574aa62f5" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/72/7202a7dfc521bb5e4fcd2bea874bd4c6" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/78/78931d5d8357ab298af6b51e603d55ef" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/79/7931710914a2726d889353b8c33c9743" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/8f/8fb11052c66f4498e0a81612fc436786" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/9c/9ccbac6d9a52b1e58928543cb7540d45" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/a3/a3d7d572175abad360118dd3c588c943" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/aa/aa3354f606d9e447f4483ea2dfe94fb6" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/ac/ac8d875d320195af073a453401b92443" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/b5/b5ad72005880b3c97c375a64f58ed0e1" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/ba/ba8ce7902a023fbf2b56bc56276c370c" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/bf/bff46af7a9f1c55990dedcb80652f9e9" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/c7/c701a2ac1e91861e379e52738c279e9d" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/eb/ebbf77efecdcb50c36629307b4fbe5a8" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/f1/f1015b8e723ff16ef4deafe2e633495f" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/f1/f1c885715b851232b33c5f80e9550745" filter=lfs diff=lfs merge=lfs -text
"Library/Artifacts/f8/f8793096edc6e664b7a46d241633c561" filter=lfs diff=lfs merge=lfs -text
"Library/Bee/1900b0aEDbg-inputdata.json" filter=lfs diff=lfs merge=lfs -text
"Library/Bee/1900b0aEDbg.dag" filter=lfs diff=lfs merge=lfs -text
"Library/Bee/1900b0aEDbg.dag.json" filter=lfs diff=lfs merge=lfs -text
"Library/Bee/1900b0aEDbg.dag.payloads" filter=lfs diff=lfs merge=lfs -text
"Library/Bee/1900b0aP.dag" filter=lfs diff=lfs merge=lfs -text
"Library/PackageCache/com.unity.ai.navigation/Samples~/Terrains/Islands.asset" filter=lfs diff=lfs merge=lfs -text
"Library/PackageCache/com.unity.collab-proxy/Documentation~/images/plasticHub.gif" filter=lfs diff=lfs merge=lfs -text
"Library/PackageCache/com.unity.collab-proxy/Documentation~/images/ProjectView.gif" filter=lfs diff=lfs merge=lfs -text
"Library/PackageCache/com.unity.collab-proxy/Lib/Editor/unityplastic.dll" filter=lfs diff=lfs merge=lfs -text
"Library/PackageCache/com.unity.nuget.newtonsoft-json/Runtime/Newtonsoft.Json.pdb" filter=lfs diff=lfs merge=lfs -text
"Library/PackageCache/com.unity.nuget.newtonsoft-json/Runtime/AOT/Newtonsoft.Json.pdb" filter=lfs diff=lfs merge=lfs -text
"Library/PackageCache/com.unity.timeline/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleA.fbx" filter=lfs diff=lfs merge=lfs -text
"Library/PackageCache/com.unity.timeline/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleB.fbx" filter=lfs diff=lfs merge=lfs -text
"Library/PackageCache/com.unity.timeline/Samples~/GameplaySequenceDemo/Animation/Circles-Walk_R.fbx" filter=lfs diff=lfs merge=lfs -text
"Library/PackageCache/com.unity.timeline/Samples~/GameplaySequenceDemo/Animation/Turns_StartStop-Wk.fbx" filter=lfs diff=lfs merge=lfs -text
"Library/PackageCache/com.unity.ugui/Package Resources/TMP Examples & Extras.unitypackage" filter=lfs diff=lfs merge=lfs -text
"Library/Search/98957a664bd18c47a3e41b2a0189ef53.33328.b.index" filter=lfs diff=lfs merge=lfs -text
"Library/SplashScreenCache/a1/a1643d33572457fa402d089ba470c058" filter=lfs diff=lfs merge=lfs -text
"Temp/__Backupscenes/0.backup" filter=lfs diff=lfs merge=lfs -text
